@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Database Test</title>
</head>
<body>
    <h1>Database Test</h1>
    <button onclick="createTestData()">Create Test Data</button>
    <button onclick="checkData()">Check Data</button>
    <div id="results"></div>
    
    <script>
        function createTestData() {
            fetch('/Positions/CreateTestData', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('results').innerHTML = '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
            })
            .catch(error => {
                document.getElementById('results').innerHTML = '<p>Error: ' + error + '</p>';
            });
        }
        
        function checkData() {
            fetch('/Positions/TestQuestionOptions', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('results').innerHTML = '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
            })
            .catch(error => {
                document.getElementById('results').innerHTML = '<p>Error: ' + error + '</p>';
            });
        }
    </script>
</body>
</html>
