<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HrContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HR_Local;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>