-- =============================================================================
-- HR_SCHEMA_PATCH_FOR_EXISTING_DB.sql
-- =============================================================================
-- Run on production/staging when the DB was bootstrapped from
-- HR_CREATE_DATABASE_COMPLETE.sql but HR.Web still throws 500 errors.
--
-- Typical gaps (legacy FULL_STAGING core tables + script stopped early):
--   Users:        UserName, Phone, DateOfBirth, RequirePasswordChange, IsPanelist,
--                 RoleDefinitionId, email verification, legal acceptance columns
--   Applicants:   FullName, IsEmailVerified, legal acceptance columns
--   Applications: AppliedOn, WorkExperienceLevel, ScoreReason, CoverLetter,
--                 CurrentStage, questionnaire stage columns, FailedCandidateEmailSentAt
--   Positions:    IsOpen, PostedOn, Responsibilities, PassMark, PassMarksByStageJson,
--                 QuestionnaireStageCount, ExpiryDate, IsTechnical, salary/currency cols
--   Companies:    LogoPath
--
-- Idempotent. Re-run safe. Then: HR.Web\Migrations\Verify-ModelColumns.sql
-- =============================================================================

USE HR_Local;
GO

SET NOCOUNT ON;
PRINT 'HR_SCHEMA_PATCH_FOR_EXISTING_DB: starting...';
GO

-- ##############################################################################
-- 1) Column renames (legacy staging names -> EF names)
-- ##############################################################################
IF COL_LENGTH(N'dbo.Users', N'UserName') IS NULL
   AND COL_LENGTH(N'dbo.Users', N'Username') IS NOT NULL
BEGIN
    EXEC sp_rename N'dbo.Users.Username', N'UserName', N'COLUMN';
    PRINT '   Renamed Users.Username -> UserName';
END
GO

IF COL_LENGTH(N'dbo.Applications', N'AppliedOn') IS NULL
   AND COL_LENGTH(N'dbo.Applications', N'AppliedDate') IS NOT NULL
BEGIN
    EXEC sp_rename N'dbo.Applications.AppliedDate', N'AppliedOn', N'COLUMN';
    PRINT '   Renamed Applications.AppliedDate -> AppliedOn';
END
GO

IF COL_LENGTH(N'dbo.Applicants', N'FullName') IS NULL
BEGIN
    IF COL_LENGTH(N'dbo.Applicants', N'FirstName') IS NOT NULL
       AND COL_LENGTH(N'dbo.Applicants', N'LastName') IS NOT NULL
    BEGIN
        ALTER TABLE dbo.Applicants ADD FullName NVARCHAR(200) NULL;
        UPDATE dbo.Applicants
        SET FullName = LTRIM(RTRIM(ISNULL(FirstName, N'') + N' ' + ISNULL(LastName, N'')))
        WHERE FullName IS NULL;
        UPDATE dbo.Applicants SET FullName = N'Unknown' WHERE FullName IS NULL OR LTRIM(RTRIM(FullName)) = N'';
        ALTER TABLE dbo.Applicants ALTER COLUMN FullName NVARCHAR(200) NOT NULL;
        PRINT '   Added Applicants.FullName from FirstName/LastName';
    END
    ELSE
    BEGIN
        ALTER TABLE dbo.Applicants ADD FullName NVARCHAR(200) NOT NULL CONSTRAINT DF_Applicants_FullName_Patch DEFAULT (N'');
        PRINT '   Added Applicants.FullName';
    END
END
GO

IF COL_LENGTH(N'dbo.Positions', N'IsOpen') IS NULL
BEGIN
    IF COL_LENGTH(N'dbo.Positions', N'IsActive') IS NOT NULL
    BEGIN
        ALTER TABLE dbo.Positions ADD IsOpen BIT NOT NULL CONSTRAINT DF_Positions_IsOpen_Patch DEFAULT (1);
        EXEC(N'UPDATE dbo.Positions SET IsOpen = IsActive');
        PRINT '   Added Positions.IsOpen from IsActive';
    END
    ELSE
        ALTER TABLE dbo.Positions ADD IsOpen BIT NOT NULL CONSTRAINT DF_Positions_IsOpen_Patch2 DEFAULT (1);
END
GO

IF COL_LENGTH(N'dbo.Positions', N'PostedOn') IS NULL
BEGIN
    ALTER TABLE dbo.Positions ADD PostedOn DATETIME NOT NULL CONSTRAINT DF_Positions_PostedOn_Patch DEFAULT (GETUTCDATE());
    IF COL_LENGTH(N'dbo.Positions', N'CreatedDate') IS NOT NULL
        EXEC(N'UPDATE dbo.Positions SET PostedOn = CreatedDate WHERE PostedOn IS NULL');
    PRINT '   Added Positions.PostedOn';
END
GO

-- ##############################################################################
-- 2) Users
-- ##############################################################################
IF COL_LENGTH(N'dbo.Users', N'Phone') IS NULL
    ALTER TABLE dbo.Users ADD Phone NVARCHAR(20) NULL;
IF COL_LENGTH(N'dbo.Users', N'DateOfBirth') IS NULL
    ALTER TABLE dbo.Users ADD DateOfBirth DATETIME NULL;
IF COL_LENGTH(N'dbo.Users', N'RequirePasswordChange') IS NULL
    ALTER TABLE dbo.Users ADD RequirePasswordChange BIT NOT NULL CONSTRAINT DF_Users_RequirePasswordChange_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Users', N'LastPasswordChange') IS NULL
    ALTER TABLE dbo.Users ADD LastPasswordChange DATETIME NULL;
IF COL_LENGTH(N'dbo.Users', N'IsEmailVerified') IS NULL
    ALTER TABLE dbo.Users ADD IsEmailVerified BIT NOT NULL CONSTRAINT DF_Users_IsEmailVerified_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Users', N'EmailVerificationCode') IS NULL
    ALTER TABLE dbo.Users ADD EmailVerificationCode NVARCHAR(10) NULL;
IF COL_LENGTH(N'dbo.Users', N'EmailVerificationExpiry') IS NULL
    ALTER TABLE dbo.Users ADD EmailVerificationExpiry DATETIME NULL;
IF COL_LENGTH(N'dbo.Users', N'IsPanelist') IS NULL
    ALTER TABLE dbo.Users ADD IsPanelist BIT NOT NULL CONSTRAINT DF_Users_IsPanelist_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Users', N'RoleDefinitionId') IS NULL
    ALTER TABLE dbo.Users ADD RoleDefinitionId INT NULL;
IF COL_LENGTH(N'dbo.Users', N'PrivacyAcceptedAt') IS NULL
    ALTER TABLE dbo.Users ADD PrivacyAcceptedAt DATETIME NULL;
IF COL_LENGTH(N'dbo.Users', N'TermsAcceptedAt') IS NULL
    ALTER TABLE dbo.Users ADD TermsAcceptedAt DATETIME NULL;
IF COL_LENGTH(N'dbo.Users', N'PrivacyVersion') IS NULL
    ALTER TABLE dbo.Users ADD PrivacyVersion NVARCHAR(20) NULL;
IF COL_LENGTH(N'dbo.Users', N'TermsVersion') IS NULL
    ALTER TABLE dbo.Users ADD TermsVersion NVARCHAR(20) NULL;
GO

-- ##############################################################################
-- 3) Applicants
-- ##############################################################################
IF COL_LENGTH(N'dbo.Applicants', N'IsEmailVerified') IS NULL
    ALTER TABLE dbo.Applicants ADD IsEmailVerified BIT NOT NULL CONSTRAINT DF_Applicants_IsEmailVerified_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Applicants', N'PrivacyAcceptedAt') IS NULL
    ALTER TABLE dbo.Applicants ADD PrivacyAcceptedAt DATETIME NULL;
IF COL_LENGTH(N'dbo.Applicants', N'TermsAcceptedAt') IS NULL
    ALTER TABLE dbo.Applicants ADD TermsAcceptedAt DATETIME NULL;
IF COL_LENGTH(N'dbo.Applicants', N'PrivacyVersion') IS NULL
    ALTER TABLE dbo.Applicants ADD PrivacyVersion NVARCHAR(20) NULL;
IF COL_LENGTH(N'dbo.Applicants', N'TermsVersion') IS NULL
    ALTER TABLE dbo.Applicants ADD TermsVersion NVARCHAR(20) NULL;
GO

-- ##############################################################################
-- 4) Applications (fixes Applications/Index, CompanyDetails, Dashboard counts)
-- ##############################################################################
IF COL_LENGTH(N'dbo.Applications', N'AppliedOn') IS NULL
    ALTER TABLE dbo.Applications ADD AppliedOn DATETIME NOT NULL CONSTRAINT DF_Applications_AppliedOn_Patch DEFAULT (GETUTCDATE());
IF COL_LENGTH(N'dbo.Applications', N'WorkExperienceLevel') IS NULL
    ALTER TABLE dbo.Applications ADD WorkExperienceLevel NVARCHAR(30) NULL;
IF COL_LENGTH(N'dbo.Applications', N'ScoreReason') IS NULL
    ALTER TABLE dbo.Applications ADD ScoreReason NVARCHAR(MAX) NULL;
IF COL_LENGTH(N'dbo.Applications', N'CoverLetter') IS NULL
    ALTER TABLE dbo.Applications ADD CoverLetter NVARCHAR(MAX) NULL;
IF COL_LENGTH(N'dbo.Applications', N'CurrentStage') IS NULL
    ALTER TABLE dbo.Applications ADD CurrentStage INT NOT NULL CONSTRAINT DF_Applications_CurrentStage_Patch DEFAULT (1);
IF COL_LENGTH(N'dbo.Applications', N'PendingQuestionnaireStage') IS NULL
    ALTER TABLE dbo.Applications ADD PendingQuestionnaireStage INT NULL;
IF COL_LENGTH(N'dbo.Applications', N'LastCompletedQuestionnaireStage') IS NULL
    ALTER TABLE dbo.Applications ADD LastCompletedQuestionnaireStage INT NOT NULL CONSTRAINT DF_Applications_LastCompletedQ_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Applications', N'QuestionnaireInvitedOn') IS NULL
    ALTER TABLE dbo.Applications ADD QuestionnaireInvitedOn DATETIME NULL;
IF COL_LENGTH(N'dbo.Applications', N'LastQuestionnaireScore') IS NULL
    ALTER TABLE dbo.Applications ADD LastQuestionnaireScore DECIMAL(18, 2) NULL;
IF COL_LENGTH(N'dbo.Applications', N'FailedCandidateEmailSentAt') IS NULL
    ALTER TABLE dbo.Applications ADD FailedCandidateEmailSentAt DATETIME NULL;
IF COL_LENGTH(N'dbo.Applications', N'ResumePath') IS NOT NULL
    ALTER TABLE dbo.Applications DROP COLUMN ResumePath;
IF COL_LENGTH(N'dbo.Applicants', N'ResumePath') IS NOT NULL
    ALTER TABLE dbo.Applicants DROP COLUMN ResumePath;
GO

-- ##############################################################################
-- 5) Positions
-- ##############################################################################
IF COL_LENGTH(N'dbo.Positions', N'Responsibilities') IS NULL
    ALTER TABLE dbo.Positions ADD Responsibilities NVARCHAR(3000) NULL;
IF COL_LENGTH(N'dbo.Positions', N'Qualifications') IS NULL
    ALTER TABLE dbo.Positions ADD Qualifications NVARCHAR(3000) NULL;
IF COL_LENGTH(N'dbo.Positions', N'Currency') IS NULL
    ALTER TABLE dbo.Positions ADD Currency NVARCHAR(10) NULL;
IF COL_LENGTH(N'dbo.Positions', N'SalaryMin') IS NULL
    ALTER TABLE dbo.Positions ADD SalaryMin DECIMAL(18, 2) NULL;
IF COL_LENGTH(N'dbo.Positions', N'SalaryMax') IS NULL
    ALTER TABLE dbo.Positions ADD SalaryMax DECIMAL(18, 2) NULL;
IF COL_LENGTH(N'dbo.Positions', N'ExpiryDate') IS NULL
    ALTER TABLE dbo.Positions ADD ExpiryDate DATETIME NULL;
IF COL_LENGTH(N'dbo.Positions', N'IsTechnical') IS NULL
    ALTER TABLE dbo.Positions ADD IsTechnical BIT NOT NULL CONSTRAINT DF_Positions_IsTechnical_Patch DEFAULT (0);
IF COL_LENGTH(N'dbo.Positions', N'PassMark') IS NULL
    ALTER TABLE dbo.Positions ADD PassMark DECIMAL(18, 2) NULL;
IF COL_LENGTH(N'dbo.Positions', N'PassMarksByStageJson') IS NULL
    ALTER TABLE dbo.Positions ADD PassMarksByStageJson NVARCHAR(4000) NULL;
IF COL_LENGTH(N'dbo.Positions', N'QuestionnaireStageCount') IS NULL
    ALTER TABLE dbo.Positions ADD QuestionnaireStageCount INT NOT NULL CONSTRAINT DF_Positions_QStageCount_Patch DEFAULT (1);
GO

-- ##############################################################################
-- 6) Companies
-- ##############################################################################
IF COL_LENGTH(N'dbo.Companies', N'LogoPath') IS NULL
    ALTER TABLE dbo.Companies ADD LogoPath NVARCHAR(260) NULL;
GO

-- ##############################################################################
-- 7) SystemSettings + portal base URL (fixes localhost portal links)
-- ##############################################################################
IF OBJECT_ID(N'dbo.SystemSettings', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.SystemSettings (
        SettingKey NVARCHAR(128) NOT NULL CONSTRAINT PK_SystemSettings PRIMARY KEY,
        SettingValue NVARCHAR(MAX) NOT NULL,
        Description NVARCHAR(200) NULL,
        IsEncrypted BIT NOT NULL CONSTRAINT DF_SystemSettings_IsEncrypted_Patch DEFAULT (0)
    );
END
GO

-- Set your public site root (no trailing slash). Adjust for production.
IF NOT EXISTS (SELECT 1 FROM dbo.SystemSettings WHERE SettingKey = N'ExternalBaseUrl')
    INSERT INTO dbo.SystemSettings (SettingKey, SettingValue, Description, IsEncrypted)
    VALUES (N'ExternalBaseUrl', N'https://nanosoft.africa/HireHub', N'Public base URL for tenant portal links', 0);
ELSE
    UPDATE dbo.SystemSettings
    SET SettingValue = N'https://nanosoft.africa/HireHub',
        Description = N'Public base URL for tenant portal links'
    WHERE SettingKey = N'ExternalBaseUrl'
      AND (SettingValue LIKE N'%localhost%' OR LTRIM(RTRIM(SettingValue)) = N'');
GO

PRINT 'HR_SCHEMA_PATCH_FOR_EXISTING_DB: complete.';
GO
