@model HR.Web.Models.Department
@{
    ViewBag.Title = "Department Details";
}
<h3>@Model.Name</h3>
@Html.ActionLink("Edit","Edit", new { id=Model.Id }, new { @class="btn btn-secondary"})
@Html.ActionLink("Back","Index", null, new { @class="btn btn-link"})



















